
.container{
    display: grid;
    /* text-align: center;
    grid-template-rows: 10vh 80vh 10vh;
    grid-auto-flow: column;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"; */
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}
header{
    /* grid-area: header; */
    grid-column: 1/4;
    background-color: pink;
}
main{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-flow: column;
    /* display: grid;
    grid-area: main;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-flow: column; */
}
nav{
    background-color: aqua;
}
article{
    background-color: cornflowerblue;
}
aside{
    background-color: aqua;
}
footer{
    /* grid-area: footer; */
    grid-column: 1/4;
    background-color: pink;
}
